.row{
    background: antiquewhite;
}
footer{
    color:rgb(1, 10, 7);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px rgba(190, 190, 190, 0.918);
}